html {
		padding:0;
		margin:0;
	}
body {
		padding: 55px;
		font-family: Verdena, Geneva, sans-serif;
		font-size: 13px;
		line-height: 16px;
		background-color: #C4E0FF;
		}
header {
		padding: 40px;
		background-color: #F5FBFB;
		-webkit-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0;  -webkit-box-shadow: 3px 3px 3px 5px #D4D4D4;
box-shadow: 3px 3px 3px 5px #EE9A93; 
<img src="IMG_0637.jpg" alt="Girl in a jacket" style="width:500px;height:600px;"> }
nav {
		float: left;
		margin-bottom: 30px;
		}
main {
		clear: left;
		padding-left: 60px;
	}
footer {
		background-color: #F5FBFB;
		padding: 40px; -webkit-border-radius: 0 0 15px 15px; border-radius: 0 0 15px 15px;
		box-shadow: 3px 3px 3px 5px #EE9A93; }
h1 {
		color: #E81028;
		font-size: 55px;
		font-family: 'Arbutus';
		padding-left: 300px;

		}
h2 {	
		color: #0425FF;
		font-size: 21px;
		font-family: impact, sans-serif;
		margin-top: 14px;
		margin-bottom: 7px;
		padding-left: 300px
		}
h3 {
		margin-top: 14px;
		color: #0425FF;
		font-family: impact, sans-serif;
		font-size: 20px;
		padding-left: 400px;
		}
footer p {
			text-align: center;
			}
nav ul li {
			list-style-type: none;
			float: left;
			padding: 20px;
			margin-right: 20px;
			background-color: #E81028;
			}
nav li a {
			text-decoration: none;
			color: #F6F2F2;
			}
nav li a:hover {
				color: #000;
				}
.job-title {
			font-style: italic;
			padding: 0;
			margin:0;
			}
.job-place	{
			font-style: italic;
			padding: 0;
			margin: 0;
			}
.job-dates {
			padding: 0;
			margin: 0;
			}
<p>
line-height: 16px; 
font-size: 14px;
</p>